- if(!isset($form))
  - $form = array();
- if(!isset($formErrors))
  - $formErrors = array();

%form(action="#{$form['id'] ? "/jobs/{$form['id']}/edit/{$form['edit_code']}" : "/jobs"}" method="POST")
  .form-group(class="#{$formErrors['type'] ? 'has-danger bg-danger' : ''}")
    %label(for="type") Is this a job posting (company/business) or a personal project?
    .radio
      %label
        - if($form['type'] == 'Business' || $form['type'] != 'Project')
          %input(type="radio" name="type" id="type_Business" value="Business" checked)
        - else
          %input(type="radio" name="type" id="type_Business" value="Business")
        Job Posting (Business/Company)
    .radio
      %label
        - if($form['type'] == 'Project')
          %input(type="radio" name="type" id="type_Project" value="Project" checked)
        - else
          %input(type="radio" name="type" id="type_Project" value="Project")
        Project (Personal or Group)

  .form-group(class="#{$formErrors['title'] ? 'has-danger bg-danger' : ''}")
    %label(for="title") Title (required)
    %input.form-control(type="text" name="title" value="#{$form['title']}")
    - if($formErrors['title'])
      %span.text-danger= $formErrors['title']
  .form-group(class="#{$formErrors['company'] ? 'has-danger bg-danger' : ''}")
    %label(for="company") Company / Group / Person (required)
    %input.form-control(type="text" name="company" value="#{$form['company']}")
    - if($formErrors['company'])
      %span.text-danger= $formErrors['company']
  .form-group
    %label(for="location") Location
    %input.form-control(type="text" name="location" value="#{$form['location']}")
  .form-group
    %label(for="pay") Pay/Compensation (if any)
    %input.form-control(type="text" name="pay" value="#{$form['pay']}")
  .form-group(class="#{$formErrors['end_date'] ? 'has-danger bg-danger' : ''}")
    %label(for="end_date") End Date (MM/DD/YYYY)
    %input.form-control(type="date" name="end_date" value="#{$form['end_date']}")
    - if($formErrors['end_date'])
      %span.text-danger= $formErrors['end_date']
  .form-group(class="#{$formErrors['description'] ? 'has-danger bg-danger' : ''}")
    %label(for="description") Description (required). Remember instructions on how to apply!
    %small.form-text You can use markdown (like on reddit) to style.
    %textarea.form-control(name="description" rows=10)
      = $form['description']
    - if($formErrors['description'])
      %span.text-danger= $formErrors['description']
  .form-group(class="#{$formErrors['more_info_link'] ? 'has-danger bg-danger' : ''}")
    %label(for="more_info_link") More Info / Apply page (URL, must be http or https)
    %input.form-control(type="url" name="more_info_link" value="#{$form['more_info_link']}")
    - if($formErrors['more_info_link'])
      %span.text-danger= $formErrors['more_info_link']
  .form-group(class="#{$formErrors['owner'] ? 'has-danger bg-danger' : ''}")
    %label(for="owner") Owner (your email, required if you want to edit this posting later)
    %input.form-control(type="email" name="owner" value="#{$form['owner']}")
    - if($formErrors['owner'])
      %span.text-danger= $formErrors['owner']
  .form-group
    - if($form['id'])
      %input(type="hidden" name="_METHOD" value="PUT")
      %button.btn.btn-primary(name="Update") Update
    - else
      %button.btn.btn-primary(name="Create") Create

- if($form['id'])
  .row
    Click the button below to delete this posting. This can not be undone!
  %form(action="/jobs/#{$form['id']}/edit/#{$form['edit_code']}" method="POST")
    .form-group
      %input(type="hidden" name="_METHOD" value="DELETE")
      %button.btn.btn-danger#delete-posting(name="Delete") Delete this Posting
  :javascript
    $(function(){
      $('#delete-posting').click(function(e){
        if(confirm("Are you sure you want to delete this?")){
          return true;
        } else {
          e.preventDefault();
          return false;
        }
      });
    });
