.containment
  .container
    .row
      %h1 Jobs / Gigs / Postings
      %a(href="/jobs/new") Add Entry
      
    - if(empty($listings) or $listings->num_rows == 0)
      .row
        No entries found.
    - else
      - $Parsedown = new Parsedown();
      - $i = 0
      - $colors = array('#cefbbd', '#f0f9c3', '#beedee', '#ffdcb8')
      - while($listing = $listings->fetch_object())
        
        .row(style="background-color: #{$colors[$i%4]};")
          - $i++
          .container
            .row
              .col-sm-8.col-xs-12
                %h1= $listing->title
                - if(!empty($listing->more_info_link))
                  - $more_info = filter_var($listing->more_info_link, FILTER_SANITIZE_URL);
                  - if($more_info)
                    %a(href="#{$listing->more_info_link}") more info
              .col-sm-4.col-xs-12
                = $listing->company
            .row
              .col-xs-12
                - if(!empty($listing->description))
                  != $purifier->purify($Parsedown->text($listing->description))
            .row
              .col-sm-8.col-xs-12
                = $listing->location
              .col-sm-4.col-xs-12
                = $listing->pay
                
    
